<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A collection of adoptable pets.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
</head>
<body>
    <section>
        <a href="#">
            <h1>Pet Adoption</h1>
        </a>
    </section>
    <section>
        <a href="#">
            <div>
                <h2>Pet's name</h2>
                <p>Age</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque libero minima fugit iure dolores hic, odit exercitationem dolore aspernatur deserunt maxime rem neque optio! Nemo, in dicta. Ipsam, deserunt ut.</p>
            </div>
        </a>
    </section>
</body>
</html>